@import "tailwindcss";

@theme {
  --color-blue-50: #F3EFEA;
  --color-blue-100: #E6DED6;
  --color-blue-200: #CBBAB0;
  --color-blue-300: #B19789;
  --color-blue-400: #967463;
  --color-blue-500: #7C513C;
  --color-blue-600: #4A3728;
  --color-blue-700: #3E2E21;
  --color-blue-800: #32251A;
  --color-blue-900: #251B13;

  --color-red-50: #FAEBED;
  --color-red-100: #F5D6DC;
  --color-red-200: #EAAEB8;
  --color-red-300: #DF8594;
  --color-red-400: #D45D70;
  --color-red-500: #C8102E;
  --color-red-600: #B40E29;
  --color-red-700: #8C0B20;
  --color-red-800: #640817;
  --color-red-900: #3C050E;

  --color-gray-50: #F5EEDC;
  --color-gray-100: #E8DCC4;
  --color-gray-200: #D2BA96;
  
  --animate-fade-in-up: fade-in-up 0.3s ease-out;
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  background-color: var(--color-gray-50);
}
